<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><h1>Heart Disease Risk Assessment</h1></title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1><h1>Heart Disease Risk Assessment</h1></h1>

    <p class="subtitle">
       <p class="subtitle">
    Machine Learning Based Heart Disease Risk Assessment System
</p>
    </p>

    <form action="/predict" method="POST">
        <input type="hidden" name="dataset" value="Cleveland">

        <div class="form-group">
            <label>Age</label>
            <input type="number" name="age" required>
        </div>

        <div class="form-group">
            <label>Gender</label>
            <select name="sex">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>



        <div class="form-group">
            <label>Chest Pain</label>
            <select name="cp">
                <option>typical angina</option>
                <option>atypical angina</option>
                <option>non-anginal</option>
                <option>asymptomatic</option>
            </select>
        </div>

        <div class="form-group">
            <label>Resting Blood Pressure</label>
            <input type="number" name="trestbps" required>
        </div>

        <div class="form-group">
            <label>Cholesterol</label>
            <input type="number" name="chol" required>
        </div>

        <div class="form-group">
            <label>Fasting Blood Sugar</label>
            <select name="fbs">
                <option>True</option>
                <option>False</option>
            </select>
        </div>

        <div class="form-group">
            <label>Rest ECG</label>
            <select name="restecg">
                <option>normal</option>
                <option>lv hypertrophy</option>
                <option>st-t abnormality</option>
            </select>
        </div>

        <div class="form-group">
            <label>Maximum Heart Rate</label>
            <input type="number" name="thalch" required>
        </div>

        <div class="form-group">
            <label>Exercise Angina</label>
            <select name="exang">
                <option>True</option>
                <option>False</option>
            </select>
        </div>

        <div class="form-group">
            <label>Old Peak</label>
            <input type="number" step="0.1" name="oldpeak" required>
        </div>

        <div class="form-group">
            <label>Slope</label>
            <select name="slope">
                <option>upsloping</option>
                <option>flat</option>
                <option>downsloping</option>
            </select>
        </div>

        <button type="submit">
            Predict Heart Disease Risk
        </button>

    </form>
{% if prediction_text %}
<div class="result">

    <h2>{{ prediction_text }}</h2>

    <div class="confidence-box">
        Confidence: <strong>{{ confidence }}%</strong>
    </div>
     <p class="advice">
        {{ advice }}
    </p>


</div>
{% endif %}

</div>

</body>

</html>